.container {
    background-color: #F5F5F5;
 
  }
  
  .content {
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5em;
  }
  
  .image {
    width: 18rem;
    height: 18rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  


  