<div class="container">
    <div class="content">
      <img class="image" src="../../assets/me.jpg" alt="My Image">
    
        <p>
            I specialize in creating stunning and functional websites that leave a lasting impression.<br>
            With a combination of technical expertise and a keen eye for design,<br> I add a touch of razzle dazzle to every project I work on.<br>
            As a full stack developer, I have a strong command over both front-end and back-end technologies.<br> I excel in crafting seamless user experiences by leveraging my skills in HTML, CSS, JavaScript, TypeScript, and Expressjs<br> to bring captivating designs to life.<br>
            I have extensive experience with popular frameworks and libraries such as Angular, enabling me to create dynamic <br> and interactive web applications.<br>
            If you're looking to add some razzle dazzle to your website and make it both visually stunning<br> and functionally robust,
            I'm here to bring your ideas to life. <br> Let's collaborate and create something extraordinary together.<br>
        </p>
        
   
    </div>
  </div>
  